@model IEnumerable<XoXo.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<div style="margin-top:100px;">

    <h1 class="mt-3">Employees</h1>
    <partial name="massage" />
    <div class="text-end">
        <a asp-action="Create" class="btn btn-outline-primary text-end">Create New</a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.age)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeID" class="btn btn-success"><i class="bi bi-pen"></i></a>
                        <a asp-action="Details" asp-route-id="@item.EmployeeID" class="btn btn-primary"><i class="bi bi-display"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.EmployeeID" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
